<html>
<head>
    <title>Outlook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <script defer src="/assets/bower/jquery/dist/jquery.min.js"></script>
    <script defer src="/assets/js/events.js"></script>
</head>
<body>
<form action="" id="sendFile">
    <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
        <div>
            <h2 class="ms-font-xxl ms-fontWeight-semibold">Welcome to Outlook events creator!</h2>
            <p class="ms-font-xl">You're now connected to Office 365. Choose your file and click the button below to
                creat your outlook calendar events. </p>
            <div class="ms-TextField">
                <input type="file" id="file" class="ms-TextField-field" name="File">
            </div>
            <button type="submit" value="Submit" id="send_mail_button" class="ms-Button">
                <span class="ms-Button-label">Create events</span>
            </button>
        </div>
    </div>
</form>
</body>
</html>
